* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Rasa", serif;
}

body {
    background-image: url(./dark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1117px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

table {
    width: 450px;
    height: 450px;
    border-collapse: separate;
    color: white;
    background-color: #1a1a1a;
    border: 20px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    overflow: hidden;
}

thead tr th {
    padding: 19px 0;
    font-size: 1.45rem;
    border-bottom: 1px solid grey;
}

.heading{
    text-align: center;
    font-size: 1.2rem;
    border-right: 1px solid grey;
}

td{
    border-bottom: 1px solid grey;
}


.data {
    line-height: 2;
    font-size: 0.95rem;
    text-align: left;
    padding-left: 15px;
}

@media (max-width: 500px) {

    body {
        height: 932px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    table {
        width: 280px;
        height: 243px;

        color: white;
        background-color: #1a1a1a;
        border: 10px solid rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        overflow: hidden;
    }

    thead tr th {
        padding: 13px;
        font-size: 1rem;
        border-bottom: 1px solid grey;
    }

    .heading{
        text-align: center;
        font-size: 0.83rem;
        border-right: 1px solid grey;
    }

    td{
        border-bottom: 1px solid grey;
    }

    .data {
        line-height: 2;
        font-size: 0.66rem;
        text-align: left;
        padding-left: 10px;
    }


}
    

